
<% form_for :user,:method=>"post" do |f| -%>
<%= error_messages_for :user %>
  <p>
    Reset Password Request
  </p>
  <p><% if flash[:message]%><div style="color:#ff0000;" align="left"><%= flash[:message] %> .</div><% end %></p>
  <p>
    <label for="email">Email</label><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <%= submit_tag 'Submit' %>
  </p>
<% end -%>